//
// Global
//

body {
	padding-top: $navbar-base-height;
	color: $gray-700;
	line-height: $line-height-base;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@include media-breakpoint-up(lg) {
	body {
		padding-top: 0;
		padding-left: $sidebar-base-width;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: 1rem;
	line-height: $headings-line-height;
}

h1 {
	line-height: 1;
	margin-bottom: 1.5rem;
}

p {
	margin-bottom: 1.5rem;
}

p.lead {
	font-size: 1.05rem;
	font-weight: 400;
	margin-bottom: 2rem;
}

.subheading {
	font-family: $headings-font-family;
	font-weight: 500;
	font-size: 1.2rem;
	margin-bottom: 1.5rem;
}

.d-flex {
	flex-wrap: wrap;
}
